[2011-10-17 08:08] alukanin opened #4 "Killed: 9"
Can't run the program for some reason. It's killed right away with the message "Killed: 9" (no matter whether it's with the arg "-e" or not).

Access rights - 777, trying to run from /tmp. I've tried to compile it myself as well the binary attached.

[2011-10-30 11:48] #4 closed, assigned to nobody

[2011-11-26 23:02] josnav opened #5 "Error with ldid -S/var/tmp/entitlements.xml keychain_dumper"
I got that: (ios5 Iphone 4)
_assert(78:WIFEXITED(status))

Why?

Thanks

[2012-01-26 14:38] #5 closed, assigned to nobody

[2012-01-29 02:15] apachezoom opened #6 "Error with ldid -S/var/tmp/entitlements.xml keychain_dumper"
I get the following error on  iOS3  on iphone 3 whe executing:

command:
ldid -S/var/tmp/entitlements.xml key_dumper.exe

error:
Error with ldid -S/var/tmp/entitlements.xml keychain_dumper

and then when I run
./key_dumper
 I get the message killed.

I am using the binary and entitlements.xml updated from january 2012 update and both files have 777 permission

[2012-01-31 03:06] #6 closed, assigned to nobody

[2012-03-26 09:47] m1kedaws0n opened #7 "Error with Compiling the Keychain Dumper"
I'm currently on an iPhone 4 with iOS 5.0.1

After executing the 'make' command I get the following:

/Users/Mike/Desktop/Key_Dump/toolchain/usr/bin/gcc -Os -Wimplicit -isysroot /Users/Mike/Desktop/Key_Dump/sdk -arch armv6 -c main.m
make: /Users/Mike/Desktop/Key_Dump/toolchain/usr/bin/gcc: No such file or directory
make: *** [main.o] Error 1

any idea why?

[2012-08-13 13:09] coverxit opened #8 "Killed: 9 on iOS 5.1.1"
I just upload "keychain_dumper"  via SSH to my iPad 2(it's iPad 2,1) which is running iOS 5.1.1.
But once I try to run ./keychain_dumper,
It said that "Killed: 9"
Then I tried "ldid -S keychain_dumper" and then "./keychain_dumper", I still received a "Killed: 9".
I don't have a Mac, so it could be a diffcult thing for me to compile it by myself.
So If there is anyway to solve this problem?

[2013-05-09 00:09] ctismer opened #9 "not an issue, but appreciation"
Hi Patrick Toomey,

I have to say that your code was very helpful to me.
I downloaded your binary and ran it on IOS 6 on an iPad 3
where I needed to inspect some of my passwords.

Worked like a charm, although it was written for IOS 5!

I would like to send you my warmest thanks - I'm really grateful.
Keep up the good work.

cheers - chris

[2013-05-10 14:14] #9 closed, assigned to nobody

[2013-07-04 11:47] loccs-spring opened #10 "Error while codsigning keychain-dumper"
I followed your way, but when I codesigned keychain-dumper, there is an error, which is

cer2.cer: no identity found

I don't know why.
Can you help me.
Thank you very much.

[2013-08-31 19:39] lzp39 opened #11 "Able to dump when Passcode is used"
Hi Patrick,

I have my own device which it is passcode protected by global policy which I cannot turn off (field is grey out). I know my own code (8 digits minimum) but will your tool dump all the keychain if I run it when the phone is unlocked? I think even if the screen is unlocked, you will need the use passcode to dump the keychain, right? and the phone wont ask for the lock code in the screen

[2014-09-15 07:22] holiman opened #13 "Dumping private key in identity certificates"
The tool seems to work great, I was able to dump keychain on a iphone 5S / 7.1.2. However, when dumping identities, the actual private key does not seem to be dumped.

Example:

[code]

Is it possible to extract the actual 128byte private key DATA also, or am I missing something?

[2014-09-15 16:39] #11 closed, assigned to nobody

[2015-01-07 18:39] reinitialized commented on #13
See https://github.com/reinitialized/Keychain-Dumper/commit/4c558843e00516513c8cee7b47fe0605a883e180

[2015-01-07 21:42] angelovAlex commented on #13
@reinitialized Can you upload a new signed binary?

[2015-02-10 21:48] philross88 commented on #7
I ran the gcc command manually and i am getting following error message
#gcc -Os -Wimplicit -isysroot /User/phil/Desktop/Keychain-Dumper/sdk -arch armv6 -c main.m
main.m:318:2: error: selector element type 'id *' is not a valid object
        for (id *kSecClassType in (NSArray *) arguments) {
        ^    ~~~~~~~~~~~~~~~~~~~~
1 error generated.

[2015-06-19 04:36] louis-web opened #14 "when build with ios7.1sdk has an error"
I want to got the keys from iphone4/ios7.1. Do I need to do like this ?
set env:
`
ln -s /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS7.1.sdk sdk
ln -s /Applications/Xcode.app/Contents/Developer toolchain

make
`

then, then result is:

`
In file included from main.m:31:
In file included from /work/Keychain-Dumper-master/sdk/System/Library/Framework

[2015-06-19 04:57] louis-web commented on #13
@rjoudrey
`
See reinitialized/Keychain-Dumper@4c55884
`
Can not open now.

[2015-06-19 19:48] rjoudrey commented on #13
I fixed the link

[2015-06-24 01:45] louis-web commented on #13
thanks for fixed it.
I found a new question: Can not dump ECPrivateKey.

[2015-06-24 01:47] #14 closed

[2015-06-24 04:33] louis-web opened #15 "Can not dump ECPrivateKey."
I run it on iOS7.1, rsa private key is work,but ECPrivateKey can not dump.
like this:

[code]

[2015-08-12 19:38] #7 closed

[2015-08-31 07:38] xu-xiang opened #19 "failed"
./keychain_dumper

No Generic Password Keychain items found.
No Internet Password Keychain items found.

[2015-09-23 03:48] JPaulMora commented on #19
Your phone might be locked, unlock and try again: Success!

[2015-11-20 07:37] ultralKDes opened #20 "May i use keychain_dumper for OS X?"
Can i use keychain_dumper for keychain-2.db on OS X.
Thanks so much

[2015-11-20 14:53] ptoomey3 commented on #20
Ice never tried building/running on OS X. But, my guess is that the code would have to be updated to account for the differences between keychains on the two platforms.

[2015-11-20 14:53] #20 closed

[2015-11-21 02:50] ultralKDes commented on #20
Hope to see it soon. Thank you so much.

[2015-11-21 03:22] ultralKDes opened #21 "Can not get information from safari (iOS)?"
I used "auto save password" option on safari (mail.google.com) but i can't get gmail password from Keychain-Dumper. I also get this problem with safari on OS X. I don't know why.
Can you explain to me, please.

[2015-11-23 03:02] JPaulMora opened #22 "Request: Filter for Wifi items only"
pretty much what the title says, tried doing it myself by filtering Strings with no success. Also, could someone point me to a nice ObjC tutorial/starting point? Thanks in advance.

[2016-01-06 21:34] rexodor opened #23 "Library not loaded"
./keychain_dumper
dyld: Library not loaded: /System/Library/Frameworks/UIKit.framework/UIKit
  Referenced from: /private/var/root/./keychain_dumper
  Reason: image not found

What is wrong?

[2016-01-21 17:04] rustymagnet3000 opened #24 "Showing app encrypted data from KeyChain"
@ptoomey3 thank you so much for KeyChain dumper.  I love this tool.

Are there any hidden options for displaying the raw data of the KeyChain Data field?     I cannot see ciphertext value when I run a dump.  The field always appears as (null).  I attached an example below.

It is an iOS app. The app performs an AES256 encrypt function before storing data within KeyChain.  It looks like the Ciphert

[2016-04-28 01:29] ThePantsThief commented on #19
I'm also having this issue. My phone is unlocked.

[2016-09-21 20:52] summitt opened #25 "Feature Request"
I'd like to set a global path for all output artifacts. Currently everything goes into ~/.needle/tmp/

I'd like to change that globally to the folder where i am storing all my assessment artifacts instead of having to set it on every module I enable.

Maybe this is possible and i missed it in the settings somewhere.

[2016-09-23 17:32] jjacquet opened #26 "Bad CPU type in executable"
MacBook-Air.local 15.6.0 Darwin Kernel Version 15.6.0: root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

i386

[2016-09-23 17:33] ptoomey3 commented on #26
Are you trying to run this on your computer/emulator? This only works on ARM based iOS devices.

[2016-09-26 14:55] summitt commented on #25
Hey Sorry.... this should have been posted in the needle github repo. Not sure how I managed to fail so bad at githubbing this day.

[2016-09-26 14:55] #25 closed

[2016-10-05 21:58] jjacquet commented on #26
I am trying to remove a keychain on a device from the terminal for automation purposes

[2016-10-11 01:44] ptoomey3 commented on #26
Are you trying to run this from the Mac terminal or from the jailbroken iPhone's terminal? This app can only be run from a jailbroken iPhone that it has been copied to.

[2016-10-13 11:33] myxgou opened #27 "copy_matching The operation couldn’t be completed"
OSStatus error -34018 - client has neither application-identifier nor keychain-access-groups entitlements

[2017-02-07 17:49] jairoserranosp opened #28 "Segmentation Fault: 11"
root# ./keychain_dumper -a > keychain_dump.log
Segmentation fault: 11

iPhone 8,1 iOS 9.1 Cydia64_1.1.28

[2017-02-07 17:54] ptoomey3 commented on #28
My apologies, I haven't kept current with jailbreaking and have no way to test/fix anything. If someone can reproduce/fix it, I'd be open to reviewing/merging a PR.

[2017-06-19 16:28] cyru5xl commented on #28
Same issue happening for me ipad air2  iOs 8.4  - cydia 1.1.23
root# ./keychain_dumper -k > dump.log
Only has issue dumping the keys : Segmentation fault: 11
Anything I need to do to fix? Perhaps a x64 issue?

[2017-06-23 10:16] wengxianxun commented on #19
so am i, how to do it?

[2017-07-12 03:37] Daemonceltics commented on #26
The keychain_dumper only run in arm arch ,your Mac CPU is x86 arch ,so.

[2017-07-12 03:42] Daemonceltics commented on #19
./keychain_dumper -a  is ok for me (iOS 10.2 iPhone 5s)

[2017-07-14 16:08] ptoomey3 commented on #26
Assuming the original submitter was running in the emulator (which has never worked).

[2017-07-14 16:08] #26 closed

[2017-07-25 09:15] ThePirateWhoSmellsOfSunflowers commented on #28
Hi!
Same issue here, on `iPhone 8,1, iOS 10.1 Cydia64_1.1.30`
Only segfault when dumping key  (with `-k` or `-a`)
[code]

[2018-01-31 03:18] notoriousturtle commented on #28
Looks like the empty key bug.

[2018-03-24 18:30] ikkisoft commented on #28
Agree. Try merging this PR locally https://github.com/ptoomey3/Keychain-Dumper/pull/12

[2018-05-10 13:42] iddoeldor91 opened #31 "feature request: save to csv/json format"

[2018-06-15 08:05] ymsying commented on #8
you can run the rest of commands to dump the keychain entries
`ldid -S keychain_dumper`

[2018-07-19 19:16] priyankn opened #32 "iOS 11.3+ : Access an item with TouchID/FaceID"
Hi,

Can keychain items be accessed normally via this tool when the following SecAccessControlCreateFlags are set?

https://developer.apple.com/documentation/security/secaccesscontrolcreateflags

I tested it quickly and the answer is no (well, except for .userPresence, where a passcode is required), but want to be 100% sure if my test app was behaving correctly.

[2018-07-31 16:46] eaneatfruit opened #33 "Keychain Accessibility Constants"
Not really an issue - but it would be really awesome if the keychain dumper also lists the KeyChain Accessibility Constants.

[2018-09-05 12:30] ondev opened #34 "My iOS 10.2 have no /private/var/Keychains"
On my device have no such path.

Any one know this issue?

[2018-09-13 14:28] ismyhc commented on #32
@priyankn Im interested in this too. Are you saying that you can or cannot see decrypted data when the .usePresence flag was use to store value?

[2018-10-06 20:59] mehadhe opened #35 "No generic password keychain items found"
Hi There,

This is Sameer, Pentester. Unable to dump the keychain data using keychain dumper as it always ends by saying No generic password keychain items found.

Device: iPhone 7
OS version: iOS 11.2.6
Jailbreak: Electra

[2018-10-08 20:18] priyankn commented on #32
@ismyhc Yes, I can see the data, because it constrains to access an item with either biometry **OR** passcode.

Nevertheless, I found the objection framework to work better in this case - FYI to all future ppl
https://github.com/sensepost/objection

[2019-03-07 22:42] rkim-ias commented on #28
I wonder if this has to do with how all 64 bit devices have the Secure Enclave for managing certain keys. (Secure Enclave is available from Apple A7[or iPhone 5s, iPad Mini 2] and up). It may explain the empty key bug.

[2019-03-08 11:07] jachu1611 commented on #8
i have the same issue with iOS version 12.1.1 What will i do ?
i tried ldid and all those stuffs but still its not working.

[2019-03-11 13:08] ptoomey3 commented on #8
Has anyone here tried recompiling to know if that addresses the issue? I've fallen out of the jailbreak world, so don't have easy access to a device to test on.

[2019-03-11 13:09] ptoomey3 commented on #28
Does #12 resolve the issue? I've fallen out of the jailbreak world, so don't have easy access to a device to test on. But, I can try and get #12 merged if folks think it worthwhile.

[2019-03-11 18:44] coverxit commented on #8
@ptoomey3 Thanks for your response that I’ve been waiting for 6 years 🤣. However, I’m out of jailbreak world too.

[2019-03-20 07:25] hubert3 opened #36 "iOS 12 support"
This may be a problem with the unc0ver jailbreak (v3.0.0-b46) on iPhone 5s and not a bug in Keychain-Dumper, however trying to run a binary I compiled myself on iOS 12 I'm getting:

# ./keychain_dumper
Killed: 9

dmesg output:

Sandbox: hook..execve() killing keychain_dumper[pid=1016, uid=0]: (err=1) process-exec denied while updating labe

[2019-03-20 07:49] hubert3 commented on #36
Works with a few more entitlements added. I'm not sure if all of these were necessary but keychain_dumper now works on iOS 12 with unc0ver jailbreak

entitlements.xml:

[code]

[2019-03-20 10:38] iddoeldor commented on #26
happens to me also

`Darwin iPhone 17.3.0 Darwin Kernel Version 17.3.0: Mon Nov  6 21:19:15 PST 2017; root:xnu-4570.32.1~1/RELEASE_ARM64_S8000 iPhone8,2 arm64 N66AP Darwin`

[2019-03-22 13:52] FQuen commented on #8
I'm also running iOS 12.1.1 (unc0ver jailbreak) on an iphone 5S. I recompiled keychain_dumper on my mac with a self-signed certificate and I'm still getting a "killed 9".

[2019-04-02 06:04] jachu1611 commented on #8
@FQuen  refer this link https://github.com/pwn20wndstuff/Undecimus/issues/531
My issue got solved

[2019-04-02 19:49] leakonkey commented on #35
It appears to be that the iPhone needs to be password protected in order for the Keychain-dumper to work

[2019-04-19 11:14] Mr007jd opened #39 "keychaindumper Not working on ios 12.1.1 jailbreak."
**How to Reproduce:**
1. iphone 6.
2. ios version 12.1.1
3. uncover Jailbreak.

I uploaded keychaindumper through ssh.
./keychain_dumper
chmod +r /private/var/Keychains/keychain-2.db

**Error:**
    Killed: 9

and i have tried other too , none works.
Please solve the issue.

[2019-05-21 08:40] ddddyyy commented on #39
12.0.1 none works too

[2019-05-23 19:54] CorpOfHack commented on #39
12.1.2 not works too.

[2019-06-11 08:55] suculent commented on #39
After rebuilding from scratch, which solved the Killed 9 error.

Same with Chimera on 12.1.1. Access groups/entitlements are exported properly, but neither specific nor wildcard version fetches more than just some basic Apple stuff, no application-related credentials.

[2019-06-11 08:57] suculent commented on #36
@hubert3 You're the man! :o) What did really help was `<key>com.apple.private.security.no-container</key>	<true/>` to solve https://github.com/ptoomey3/Keychain-Dumper/issues/39 as well.

[2019-06-11 14:14] ptoomey3 commented on #36
Can you see if https://github.com/ptoomey3/Keychain-Dumper/pull/38 addresses your needs?

[2019-06-11 14:15] ptoomey3 commented on #39
Can you see if https://github.com/ptoomey3/Keychain-Dumper/pull/38 addresses your needs?

[2019-06-11 14:54] suculent commented on #39
I’ve injected exported entitlements, but I’m still unable to inspect Keychain from AppStore build (blackbox testing).

Same when signing Dumper with same Distribution identity as the app (whitebox testing).

It helps fetching at least some internet and generic passwords, but I’m not sure how those are selected.

Tried both with locked/unlocked device with expectably beter results on the Unlocked o

[2019-06-11 14:56] suculent commented on #36
Well, I’ll give it a try once again. I have 12.1.2 with Chimera and 9.3.5 Phoenix (both 32/64bit versions) for compare.

Odesláno z iPhonu

11. 6. 2019 v 16:15, Patrick Toomey <notifications@github.com>:

[2019-06-14 13:09] mechanico commented on #39
That sounds uncommon, please confirm that you execute keychain-dumper with root permissions. Always make sure to have your phone unlocked. If everything works fine you should be presented with the pin-pad again once you executed the tool. Enter the device pin again, et voila.

[2019-06-14 13:11] mechanico commented on #39
btw. it should make no difference from my point of view, if the app is downloaded from the Appstore or e.g. installed with Apple Configurator.

[2019-06-14 15:21] suculent commented on #39
@mechanico I've been previously able to reproduce behaviour you describe. The app is either from AppStore or from XCode. PIN Pad opens, but keychain dump is visibly short and limited to Apple stuff only.

[2019-06-15 07:26] mechanico commented on #39
@suculent can you execute the keychain_dumper command with the -s option, and paste the output here?

[2019-07-17 16:57] Jnchi opened #43 "Licensing?"
[code]

Source: https://github.com/ptoomey3/Keychain-Dumper/blob/master/main.m#L1

[2019-07-17 17:05] Jnchi opened #45 "Remove binaries from repository"
Revert https://github.com/ptoomey3/Keychain-Dumper/commit/e35a0a6bcab213a2ce0b9628300d3cde1038f7c7.

If they need a pre-built binary, create a pre-release and upload it there instead.

Resources:

- https://robinwinslow.uk/2013/06/11/dont-ever-commit-binary-files-to-git

[2019-07-18 12:59] mechanico commented on #35
Indeed that is something I also stumbled upon today. The phone must be protected with a Passcode, no matter how (in)secure. Otherwise no generic passwords will be printed out. I will try to chase down the origin of the issue, once I find some time.

[2019-07-19 15:48] ptoomey3 commented on #43
Fixed in https://github.com/ptoomey3/Keychain-Dumper/pull/44.

[2019-07-19 15:48] #43 closed

[2019-09-11 02:36] a3135134 commented on #36
The original dumper doesn't work either on IOS 12.2. I tried as hubert3 said (editing the xml file and rebuild using my developer certificate), then it works.
May this be merged?

[2019-09-17 13:22] ptoomey3 opened #46 "Accessing keychain items with "ThisDevice" protection class"
I received an email from someone asking if I knew how to dump credentials from Google Authenticator, as the user was trying to move to a new phone and had a ton of TOTP codes stored. They noticed that the elements in Google Authenticator weren't accessible. They also mentioned that it appeared these elements had the "ThisDevice" protection class. The full list can be found on https://developer.app

[2019-09-17 13:31] ptoomey3 commented on #35
How does this manifest itself? In looking at https://github.com/ptoomey3/Keychain-Dumper/issues/46 I stumbled on `kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly `. I wonder if there is a chance the tool is behaving badly for all keychain items if we hit an entry with that protection class or something (seems unlikely..but it does seems like `kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly` pretty

[2019-09-22 17:33] yonglefu commented on #8
fixed by
ldid -S/usr/share/entitlements/debugserver.xml keychain_dumper

[2019-09-22 17:36] yonglefu commented on #39
same 12.4 to
just directly visit by
sqlite3 /path/to/keychain-2.db

[2019-09-28 17:43] 0xln commented on #46
So my understanding is that "ThisDeviceOnly" prevent's the values being backed up or being synced to another device. You should still be able to read the values as long as the device is unlocked. I'll take a look into this once i get chance.

[2019-09-30 06:39] mechanico commented on #46
I tested several protection classes, with a simple custom app. The result can be seen below.

[code]

As can be seen the password is shown without any issues (as @0xln assumed). Therefore, I assume that the google app might use Secure Enclave (SE) to further protect the keychain items. This would totally make sense, if the app is bond to the device itself.

[2019-09-30 06:42] mechanico commented on #39
@yonglefu can you closer describe your workaround?

The tool worked on every device I used it so far, if you have any issues with a certain app, please let me know. I will try to assist if I have time.

[2019-10-03 14:15] hleungg opened #47 "Can this tool export the private key of the [Apple Iphone Device CA] certificate?"
Can this tool export the private key of the [Apple Iphone Device CA] certificate? thanks.

[2019-10-03 14:51] ptoomey3 commented on #47
Is that some apple specific thing or is it some MDM thing? If it is stored in the keychain it should be exportable.

[2019-10-03 15:45] hleungg commented on #47
The certificate is requested to be signed to albert.apple.com when the IOS is activating. I am not sure this crt and private-key is stored in the keychain.

[2019-10-03 16:02] hleungg commented on #47
The PUSH certificate is generated when the device is registered and activated at Apple. During the 1st connection to Apple's server, a certificate request is sent to albert.apple.com. This server runs a certificate authority, called Apple Iphone Device CA, in charge of signing every request.

This certificate is very sensitive as it is the one in charge of ALL PUSH communications from the device

[2019-11-11 02:10] tellowkrinkle commented on #46
Tested on my phone, iPhone 7 iOS 13.2.2 checkra1n
When run, the device pops up a TouchID authentication and once authorized, all Google Authenticator codes including ThisDeviceOnly ones are printed

[2019-11-12 14:42] ptoomey3 commented on #46
Nice debugging! I’ll take a look at that PR in a bit more detail later this week. Thanks!

[2019-11-21 14:46] bensh opened #49 "issue with make when building"
Trying to get a binary that works on iOS 11/12 , so followed the build steps, but it fails on 'make'

macOS 10.14.6

    $ make
    xcrun --sdk iphoneos --find gcc` -Os -Wimplicit -isysroot `xcrun --sdk iphoneos --show-sdk-path` -arch armv7 -arch armv7s -arch arm64 -c main.m
    main.m:67:10: error: 'launchPath' is unavailable: not available on iOS
        task.launchPath = executablePath;

[2019-11-21 15:25] ptoomey3 commented on #49
@mechanico - Can you comment on the above? It seems like the changes you had added were tested on 12.1 in https://github.com/ptoomey3/Keychain-Dumper/pull/38. Was support for this API removed after?

[2019-11-21 16:06] mechanico commented on #49
Indeed I'm facing the same issue on my side. Unfortunately, I have no resources to chase down the issue now. I assume that an XCode update (compatibility with iOS 13) introduced this issue.

[2019-11-27 10:43] bensh opened #50 "Feature: Add CLI args instead of stdin"
It would be great to be able to script this, but at the moment -s requires user input. Is it possible to change a few of the user args to changes behaviour e.g

-l : list all entitlements (same as -s but don't ask for 'Select Entitlement Group by Number')
-g : dump all entitlements for the group from the numbered list above/ entitlement group ID/name

Complete process:

    root# keychain_dumper -

[2019-11-29 11:07] CapCap commented on #46
Can confirm having the same problem with authenticator data field being null, and #48 indeed does fix it. Thank you guys!

[2019-12-16 07:33] mechanico commented on #49
As far as my investigation has come. This is the result:
- Apple has deprecated the create task feature we used to spawn openssl

I tried messing around with my local files to re-enable the feature which did not work. So we could build a version of keychain_dumper without the openssl feature, or we could start building a version with openssl integrated. From previous projects I have seen some iOS

[2019-12-16 16:35] mechanico commented on #49
It's possible to build the binary with Xcode 9.4.1. Verified today.

[2020-06-03 00:03] tileo opened #52 "keychain_dumper is not finding items on iOS 13.5"
Hi,

I am wondering if it's only me (maybe a package I have installed that is causing this), but keychain_dumper is not finding items on iOS 13.5. It does not even prompt for a passcode when I run the tool.

[code]

[code]

Tried it with:

- iPhone X and iPad Pro Gen 2
- both with iOS version 13.5
- both jailbroken with checkra1n 0.10.2
- Used the latest-greatest binary from this repo (~12h old AT

[2020-06-03 02:13] just4fun20 commented on #52
Same here

[2020-06-03 02:23] ptoomey3 commented on #52
Can you try the prior binary that was committed before the one today? I don’t have a jailbroken phone these days, so am unable to test things very easily. It built fine, but maybe something failed silently.

[2020-06-03 08:21] tileo commented on #52
Hi Patrick,

Thx for the prompt reply. I am happy to help with testing. I just checked the binary version from Sept 2019, and I have the same results on both devices. In fact, I jumped on the new binary yesterday, because of this, but I double-checked to be on the safe side.

I forgot to mention, but I have keychain dumps from April 27 on both devices. I can't remember if I had 13.4 or 13.4.1 on t

[2020-06-03 12:48] ptoomey3 commented on #52
@vocaeq emailed me last night noting that iOS seems to have changed how entitlements work and granting a wildcard (`*`) entitlement no longer seems to work. As a result, it is likely this part of the build process is not doing what we want:

https://github.com/ptoomey3/Keychain-Dumper/blob/6701aff6d8c35510a188dabd705b5cbd002d2687/Makefile#L33

@vocaeq attached the following script to iterate throu

[2020-06-03 12:51] just4fun20 commented on #52
Most likely due to this flaw in token:
https://threatpost.com/apple-100k-bounty-critical-sign-in-with-apple-flaw/156167/

That's why it doesn't work in 13.5 and up.
Token were accessible in keychain.
They must have changed something.
Even keychaineditor have same issue.

[2020-06-03 13:01] vocaeq commented on #52
Me and @ReverseThatApp wrote this script yesterday, haven’t got much time to check if all the keys are being fetched. Managed to get keychaineditor work as well. @just4fun20 I’ve only tested keychaineditor with script, @ReverseThatApp compiled it for me, not sure if he changed something inside.

[2020-06-03 13:34] just4fun20 commented on #52
@vocaeq What should I do to test, and get keychaineditor working?
Thanks in advance

[2020-06-03 13:37] ReverseThatApp commented on #52
I made some changes to keychaineditor to make it work on the latest iOS 13.5.
The idea is to have a postscript generate new entitlement for app-specific rather than using a wildcard as it's not working and use ldid to pseudo sign the executate after installing.
I uploaded the keychaineditor source code here, feel free to have a look and give it a try with pre-packed .deb file: shorturl.at/adEQ3
Fe

[2020-06-03 13:43] ReverseThatApp commented on #52
You can download my changes shorturl.at/adEQ3
Then install pre-packed keychaineditor.deb (I built for arm64).
If you wanna run on arm64e, change these in Makefile:
ARCH_FLAGS      =  -arch arm64e
TARGET          =  -target arm64e-apple-ios10

Then from terminal run this command to build: make keychaineditorSwiftc

[2020-06-03 13:44] just4fun20 commented on #52
@ReverseThatApp I will install it directly in the iPhone.
I sent you a dm in twitter.

[2020-06-04 00:57] vocaeq commented on #52
@ReverseThatApp told me that old script did not fetch all keys. We modified script a little so it gets all it needs straight from keychain. Make sure sqlite3 is installed. Also I just seen that generic passwords are not show, not sure if it's because there's really no generic password in my keychain or something wrong with script. I assume that "genp" are generic passwords, but I may be wrong.

[u

[2020-06-04 01:35] just4fun20 commented on #52
@vocaeq the new updated Entitlements.txt you just provided is the same as before or a different one?
Also when dumping from iPhone sqlite3 is already there.

[2020-06-04 02:00] just4fun20 commented on #52
@vocaeq just to clarify sqlite3 was installed with cydia just to clarify, my bad.

[2020-06-04 03:31] ReverseThatApp commented on #52
@just4fun20 you can get it installed from Sam Bingner repo

[2020-06-04 04:58] just4fun20 commented on #52
Thanks to @ReverseThatApp and @vocaeq.
Problem is now fixed.
New deb compiled by @ReverseThatApp can be found here: shorturl.at/eoOW5

[2020-06-04 15:12] ptoomey3 commented on #52
What would folks appreciate most here? Is it most useful to just bundle the bash script to let folks add entitlements dynamically? Should I add a bunch of baseline entitlements to the default binary?

[2020-06-05 10:39] vocaeq commented on #52
I would bundle script as a workaround for now and replace it after finding method that works all the time. But don't include script yet. I found out that it does not fetch generic_passwords, but seems like culprit is one or few of those:
[linesToDelete.txt](https://github.com/ptoomey3/Keychain-Dumper/files/4735486/linesToDelete.txt). Later today I'll try which ones are breaking it like * did and u

[2020-06-07 14:00] Whiteshark116 commented on #52
How do I make it work on MacOS Catalina??

[2020-06-08 10:32] vocaeq commented on #52
Up to date script fixing issue with not all generic app password being displayed. @ReverseThatApp added skipping permission for apps that may be the cause. If you need any key from those apps, delete them from array and see if keys from generic apps still works. If generic passwords stops working, just add those lines again and re-run the script. @ptoomey3 feel free to add script and modify it as

[2020-06-09 13:18] BHW911 opened #53 "Hello, what's the cause of this error"
dyld: Symbol not found: _objc_opt_new
  Referenced from: /bin/keychain_dumper (which was built for iOS 13.5)
  Expected in: dyld shared cache
 in /bin/keychain_dumper
Abort trap: 6

[2020-06-09 13:58] ptoomey3 commented on #53
Were you running this on a jailbroken device?

[2020-06-09 14:23] suryadina commented on #53
Hi. I also experience the same issue, tried to run in on iOS 12.4.7 jailbroken iphone 6 plus using checkrain.

[2020-06-09 14:36] ptoomey3 commented on #53
I no longer have any actual devices to test with, so am relying purely on folks to test for me after I rebuild as new PRs are merged. https://github.com/ptoomey3/Keychain-Dumper/issues/52 implies it is working on iOS 13, so maybe this is an incompatibility when building using current tooling. I doubt I'l be to support iOS releases that are incompatible with whatever is built by default using the c

[2020-06-12 08:31] sweetMegan commented on #53
I found this error cause by build on iPhoneOS13.5.sdk but when I try to change to iPhoneOS12.2.sdk,I found this error how can I fix it

ld: warning: object file (main.o) was built for newer iOS version (13.5) than being linked (12.2)
Undefined symbols for architecture arm64:
  "_objc_opt_new", referenced from:
      _main in main.o
ld: symbol(s) not found for architecture arm64
clang: error: linke

[2020-06-13 03:56] iKingTeam commented on #52
I have written to you, but you do not answer

[2020-06-15 06:24] Bi3g0 commented on #53
I also encountered the same problem, my phone model is iphone 6 and systeme version is 12.4.3. Has anyone solved this problem？
![image](https://user-images.githubusercontent.com/18691823/84624187-7f1bf700-af13-11ea-876e-1d56e11bdd35.png)

[2020-06-17 21:25] Greenwolf commented on #53
Same issue on a 5s running 12.4.3 with CheckRa1n:

[code]

[2020-06-19 14:53] ptoomey3 commented on #52
I updated the README and added the `updateEntitlements.sh` shell script to the repo. Thanks!

[2020-06-19 14:53] #52 closed

[2020-06-22 07:43] madaoCN commented on #53
I got the same error on iphone6 12.4.5 :

dyld: Symbol not found: _objc_opt_new
  Referenced from: /usr/bin/keychain_dumper (which was built for iOS 13.5)
  Expected in: /usr/lib/libobjc.A.dylib
 in /usr/bin/keychain_dumper
Abort trap: 6

[2020-06-22 12:36] ptoomey3 commented on #53
It seems there is definitely an incompatibility for iOS 12. If anyone here can get it building and running on that release I can incorporate a separate build for those devices.

[2020-06-24 10:56] laoyur opened #54 "anybody got this working on iOS 13.5?"
cannot dump anything on iOS 13.5  :(

[2020-06-24 10:59] laoyur commented on #54
https://github.com/ptoomey3/Keychain-Dumper/issues/52

okay, I didn't notice this issue

[2020-06-24 10:59] #54 closed

[2020-07-01 02:47] ihbing opened #55 "Symbol not found: _objc_opt_new"
[code]

dyld: Symbol not found: _objc_opt_new
  Referenced from: /bin/keychain_dumper (which was built for iOS 13.5)
  Expected in: /usr/lib/libobjc.A.dylib
 in /bin/keychain_dumper
Abort trap: 6

The device info :
iOS 12.4
iPhone6

[2020-07-01 12:24] mayankraheja98 commented on #55
facing same issue
iphone 5s
ios 12.4.6

[2020-07-09 06:40] movses-margaryan commented on #55
xcode-select to Xcode 10.3 command line tools worked for me

[2020-07-14 19:22] thiagomagamoc commented on #52
i need run iOS 13.5 lock screen, work?

[2020-07-23 03:56] youngzzzzzzz opened #56 "seems not working at ios13"
iphone7 ios13.5.1 checkra1n

showing this:

[INFO] No Generic Password Keychain items found.
[HINT] You should unlock your device!
[INFO] No Internet Password Keychain items found.
[HINT] You should unlock your device!
[INFO] No Identity Keychain items found.
[HINT] You should unlock your device!
[INFO] No Certificate Keychain items found.
[HINT] You should unlock your device!
[INFO] No Key Keycha

[2020-07-23 04:06] #56 closed

[2020-07-23 04:06] youngzzzzzzz commented on #56
my bad

[2020-08-07 00:02] alyxferrari commented on #45
@ptoomey3 please do this.

[2020-08-07 00:06] alyxferrari commented on #53
@ptoomey3 I found a fix for this. I downloaded Xcode 10.0 and recompiled it with the iOS 12.0 SDK. Seems to work. The "built for newer iOS version (13.5) than being linked (12.2)" error was caused by previously compiling it with a newer SDK and then trying again with an older one. This can be fixed by simply deleting main.o. I have the binary compiled with the iOS 12.0 SDK hosted [at this URL](htt

[2020-08-08 15:23] Greenwolf commented on #53
@ptoomey3 it would be great if you could replicate and add to the main project, so we have a fully trusted one in the official repo. No offence to @alyxferrari intended, thank you so much for solving! 👍

[2020-08-08 20:35] ptoomey3 commented on #53
I'll take a look at this next week. Thanks!

[2020-08-10 13:56] ptoomey3 commented on #45
This repo goes back a few years...I agree I wouldn't follow this pattern here in 2020. I'll take a look at uploading a release and deleting the binary later this week.

[2020-08-20 02:29] nicolas17 commented on #47
The private key of the CA is not on the device, it's on Apple's servers, so no tool running on the device could possibly extract it.

[2020-08-20 02:34] ptoomey3 commented on #47
Thanks for the reply. Closing this out since I think the answer is "no".

[2020-08-20 02:34] #47 closed

[2020-08-24 18:33] Zatyam commented on #55
Facing the same issue on iPhone 6, iOS 12.4.4
I don't have a Mac to run the above xcode-select command on Xcode. Please help

[2020-09-08 14:06] ptoomey3 commented on #8
Closing a stale.

[2020-09-08 14:06] #8 closed

[2020-09-08 14:07] ptoomey3 commented on #10
Closing as stale.

[2020-09-08 14:07] #10 closed

[2020-09-08 14:08] ptoomey3 commented on #13
Closing as stale.

[2020-09-08 14:08] #13 closed

[2020-09-08 14:08] ptoomey3 commented on #15
Closing as stale

[2020-09-08 14:08] #15 closed

[2020-09-08 14:08] ptoomey3 commented on #19
Closing as stale.

[2020-09-08 14:08] #19 closed

[2020-09-08 14:08] ptoomey3 commented on #21
Closing as stale.

[2020-09-08 14:08] #21 closed

[2020-09-08 14:08] ptoomey3 commented on #22
Closing as stale.

[2020-09-08 14:08] #22 closed

[2020-09-08 14:09] ptoomey3 commented on #23
Closing as stale.

[2020-09-08 14:09] #23 closed

[2020-09-08 14:09] ptoomey3 commented on #24
Closing as stale.

[2020-09-08 14:09] #24 closed

[2020-09-08 14:09] ptoomey3 commented on #27
Closing as stale.

[2020-09-08 14:09] #27 closed

[2020-09-08 14:09] ptoomey3 commented on #28
Closing as stale.

[2020-09-08 14:09] #28 closed

[2020-09-08 14:10] ptoomey3 commented on #32
Closing as stale.

[2020-09-08 14:10] #32 closed

[2020-09-08 14:10] ptoomey3 commented on #33
Closing as stale.

[2020-09-08 14:10] #33 closed

[2020-09-08 14:10] ptoomey3 commented on #34
Closing as stale.

[2020-09-08 14:10] #34 closed

[2020-09-08 14:12] ptoomey3 commented on #46
Looks like #48 fixed this. Closing.

[2020-09-08 14:12] #46 closed

[2020-09-08 14:14] ptoomey3 commented on #55
Closing as a duplicate of https://github.com/ptoomey3/Keychain-Dumper/issues/53. I'm going to try and see if building under Xcode 10.3 fixes the issue.

[2020-09-08 14:14] #55 closed

[2020-09-08 15:32] ptoomey3 commented on #53
Can folks here try out the binary release in https://github.com/ptoomey3/Keychain-Dumper/releases/tag/1.0.0. I built that using Xcode 10.3 for the iOS 12.4 SDK.

[2020-09-08 15:32] ptoomey3 commented on #49
Closing this out, as it seems like it is possible to build this using an older SDK.

[2020-09-08 15:32] #49 closed

[2020-09-08 15:32] ptoomey3 commented on #45
Removed binaries from the repo and cut a release in https://github.com/ptoomey3/Keychain-Dumper/releases/tag/1.0.0.

[2020-09-08 15:32] #45 closed

[2020-09-08 15:33] ptoomey3 commented on #39
Can folks here try out the binary release in https://github.com/ptoomey3/Keychain-Dumper/releases/tag/1.0.0. I built that using Xcode 10.3 for the iOS 12.4 SDK.

[2020-09-08 18:12] alyxferrari commented on #53
Sure. I've got an iOS 12.4.8 device and an iOS 13.5.1 device that I'll test it on. I'll let you know how it goes within the hour.

[2020-09-08 18:53] alyxferrari commented on #53
@ptoomey3
I've got the results for the iOS 13.5.1 device, but I'm still waiting for my iOS 12 device to charge. I got it to dump my internet keychain items, but my generic keychain items failed saying I should unlock my device. My device was unlocked throughout this whole process and I authenticated with Touch ID when prompted. Here's what I did:

[code]

If there's something I did wrong with the

[2020-09-09 03:08] youngzzzzzzz opened #57 "it seems ios 13.6.1 not working?"
function getKeychainObjectsForSecClass
return nothing

[2020-09-09 06:56] youngzzzzzzz commented on #57
my bad

[2020-09-09 06:56] #57 closed

[2020-09-17 03:22] sohotz commented on #53
这个错误就是编译代码的时候，工程配置里支持设备的版本太高了，Target Device改低点，就好了。project setting -> General -> Target Device 9.0

[2020-09-25 08:49] seb2point0 commented on #57
@youngzzzzzzz Did you manage to get this working on iOS 13.6.1 on your iPhone 7?

[2020-09-26 10:31] seb2point0 commented on #35
I have the same issue on an iPhone 7 running iOS 13.6.1. The iPhone has a passcode.

[2020-09-26 11:36] seb2point0 commented on #52
Device: iPhone 7
System: iOS 13.6.1

@ReverseThatApp Thanks for sharing the updated `keychaineditor` binary. It appeared to work for me (to some extent) as I was not able to get any output from `keychain_dumper`. Like the OP, I also get the `[INFO] No Generic Password Keychain items found. [HINT] You should unlock your device!` error.

When I run `keychaineditor`, my phone displays an _Enter iPhon

[2020-09-28 05:38] ihbing commented on #56
I have the same problem, how did you solve it?

[2020-09-28 10:07] ihbing commented on #52
This address "shorturl.at/adEQ3" cannot be accessed anymore

[2020-09-28 10:26] ihbing commented on #52
Can you send me the source code of the keychaineditor you downloaded?

[2020-10-11 19:18] seb2point0 commented on #52
It was the one posted here: shorturl.at/eoOW5

Don't think it contained the source, only the binary.

Thanks

[2020-10-17 20:08] seb2point0 commented on #52
@ihbing @ReverseThatApp any thoughts?

[2020-10-20 18:16] LeGioNSoftware opened #59 "Not as much of an issue.."
Hello,
I am trying my best to figure out how to use your software on a BFU device (I have the code and all.. I just want to see if I can replicate what Elcomsoft has done with their EIFT) to dump out partial Keychain.

But I run in to the issue of not being allowed to copy stuff to the /usr/bin. Which is fair.
I also try to run sqlite3 straight in the shell, but get **"bus error: 10**". Have you a

[2020-11-29 12:22] p4ever opened #62 "iOS 13.5.1 - Keychain data not decrypted"
With iOS 13.5.1, after updating the entitlements for each element we found in the keychain, we get the data still encrypted like so:

[code]

I've replaced some of the data with 'x' just to be extra safe exposing this informations

[2020-12-01 13:19] martin-1337 opened #63 "iOS 14 keychain_dumper does not work anymore"
keychain_dumper does not work anymore on my iPhoneSE with iOS 14. Following happened:

_iPhone-von-MartinSE:/private/var/Keychains root# ./keychain_dumper -a
[INFO] No Generic Password Keychain items found.
[HINT] You should unlock your device!
[INFO] No Internet Password Keychain items found.
[HINT] You should unlock your device!
[INFO] No Identity Keychain items found.
[HINT] You should unlock y

[2020-12-09 11:58] bensh commented on #39
@ptoomey3
release works on iphone 6 12.4.3

can I request a way to filter based on entitlement group?

[2020-12-09 12:40] bensh commented on #62
I would guess that this is because the data is encrypted before being stored in the keychain.
I see the same running it on iOS 12.4.3 and 11.2.5

this tool is a dumper, not a decrypter.

[2020-12-09 14:53] bensh commented on #50
I can now make this to add in some extra functions, however I'm unsure how to build for lower iOS versions?

[code]

[2020-12-09 15:03] ptoomey3 commented on #62
If that is the case I'll close this out and folks can re-open if still relevant.

[2020-12-09 15:03] #62 closed

[2020-12-09 15:44] alyxferrari commented on #50
I could probably program this. I'll try to get to it today, this seems like it would be a cool idea!

[2020-12-09 15:46] alyxferrari commented on #50
Delete any .o files in your project workspace. Download Xcode 9.0 from Apple's website and use the iPhoneOS9.0.sdk SDK to compile it. I think you have to run `xcode-select` on Xcode 9.0 before it'll compile with iPhoneOS9.0.sdk by default.

[2020-12-10 13:11] bensh commented on #50
I added some features I wanted in a separate fork

https://github.com/bensh/Keychain-Dumper

[2020-12-10 13:11] #50 closed

[2020-12-11 02:49] alyxferrari commented on #50
Sorry, you've probably figured it out by now, but Xcode 9.0 is for iOS 11.0 and for some reason I said iPhoneOS9.0.sdk when Xcode 9.0 actually corresponds to iPhoneOS11.0.sdk.

[2020-12-11 02:50] alyxferrari commented on #50
Also, you can request that your changes be merged into the official Keychain-Dumper repository by creating a pull request.

[2020-12-11 07:46] bensh commented on #50
Yeah no problem, all worked out with some Googling. Thanks for the initial tip.

[2020-12-19 13:03] seb2point0 commented on #52
@ptoomey3 @ReverseThatApp I successfully used this script to update entitlements and decrypt the Keychain.

Previously I had run the `updateEntilements.sh` script included in the main branch with no success.

From what I can gather, the former builds `ent.xml` by cycling through apps installed in the `AppGroup` directory, while the latter builds it by querying items found in the keychain database.

[2020-12-19 13:32] seb2point0 commented on #52
After running both scripts on clean versions of the `keychain_dumper` binary, I noticed that the entitlements generated with the script above adds extra "group" items not present when generated with the original script.

[code]

I don't know what these are, but they allowed the Keychain items to be decrypted.

[2020-12-19 16:06] vocaeq commented on #52
Hi! I'll try to modify script to make it working correctly again. Thank you for all the information provided, it'll be really useful. I've also noticed that something really weird is happening is group contains * in its name(developer versions of app usually contains it, not the AppStore ones). Didn't have time to investigate it yet, but I'll definitely try to solve it soon.

So summing up, origin

[2020-12-19 16:31] seb2point0 commented on #52
I'm happy to send you the ent.xml files by email if that's helpful. I kept both generated from the original script, and the one above.

Entitlements from the original update script contains

[code]

But not in entitlement items generated with the modified script. However, it should be noted that I've deleted every app but the target (Signal) from the phone, which explains why there are so few item

[2020-12-25 15:17] seb2point0 commented on #52
I wrote a blog post describing how I was able to extract data from the Keychain on iOS 13.6.1. The post is specifically about extracting Signal's database but covers `keychain_dumper`.

[Exporting messages from Signal for iOS: a journey](https://cight.co/backup-signal-ios-jailbreak/)

[2021-01-04 01:00] vocaeq commented on #52
Just got back home and read both your messages and article. Pretty nice article!
Going back to issue, tomorrow I'll check issue on iPhone 6s. Although I'm almost sure what's the problem.
In article you mentioned "script included in the repo doesn't take into account the changes in iOS 13.5" which is not true 😅 We've written this script because exactly to make keychain dumper work on 13.5 and above

[2021-01-05 14:55] vocaeq commented on #52
Hey @seb2point0
I've modified and hugely simplified the script. Works for me now even with asterisk. Could you also confirm me that it works for you?

[code]

[2021-01-06 16:36] vocaeq commented on #52
That's exactly what script is doing. Without entitlements for each applications keychain_dumper is not able to dump keys, but it is still able to dump entitlement's for them. So version from before was dumping entitlement's manually using sqlite3 from keychain database. This is doing same thing, but using keychain_dumper "dump entitlements" functionality and resigning application with dumped entit

[2021-01-09 04:04] alyxferrari commented on #52
@vocaeq Hi, is this script supposed to fix keychain_dumper completely on iOS 13.5+? If so, I can test it on my iPhone. It hasn't ever worked for me on iOS 13.5+ and I'm eager for a fix haha

[2021-01-09 12:13] mehadhe opened #64 "Unable to dump keychain info on iOS 13.3.1"
@ptoomey, As per the script "updateEntitlements.sh" I've fetched all the entitlements on the device and grant keychain-dumper with those entitlements. But, I couldn't dump the keychain information though.

iPhone 7 (Jailbroken device)
iOS version 13.3.1

Approach: 1
1. Ran the script updatedEntitlements.sh that modifies the entitlement.
2. Replaced the old keychain_dumper with updated keychain_dum

[2021-01-09 17:08] mehadhe commented on #64
Respring my device did the magic. Now I can dump the entire keychains info.... Voila

[2021-01-09 17:08] #64 closed

[2021-01-09 17:08] mehadhe commented on #64
Respring my device did the magic. Now I can dump the entire keychains info.... Voila

[2021-01-13 08:45] vocaeq commented on #52
HI @alyxferrari
Yes it should work correctly. I've confirmed that it works on iPhone 6s on iOS 14.1. If you have any issues, let me know!

[2021-01-15 09:09] VeNoMouS opened #65 "Malformed key data Detected"
What do i when an app is presenting this?

[code]

[2021-01-17 04:26] alyxferrari commented on #65
Just took a look at the source code, and it looks like that's printed when either the key size and the effective key size are not the same, or when the key size is 0. Looks like in this instance it's the latter. Maybe there's just no data in this Keychain entry?

[2021-01-17 07:10] VeNoMouS commented on #65
I have a couple other 5s's that are jailbroken, 9.3, 12.x and 13.x , this was on the 13.x so ill test the 9.3 and 12.x and see if it generates the same response

[2021-01-17 22:45] alyxferrari commented on #52
@vocaeq I wasn't able to dump generic Keychain items, my Internet password Keychain items dumped fine though. I tested keychain_dumper before running your script and nothing worked, it said I should unlock the device (it was unlocked). Then I tried your script and this happened:
`Alyxs-iPhone:~ root# cd /usr/bin
Alyxs-iPhone:/usr/bin root# ./keychain_dumper
[INFO] No Generic Password Keychain item

[2021-01-17 22:46] alyxferrari commented on #52
Not sure why the text afterwards is being included in the 'code' field, sorry about that.

[2021-01-20 23:08] vocaeq commented on #52
[code]

If the script from above doesn't work, please try like this:
[code]
After this it should dump generic keys without a problem. If problem still persists, contact me and I'll try to figure it out.

[2021-03-11 09:10] FikoKaramac opened #66 "which was built for iOS 14.4"
I used checkra1n to jailbreak the device (iphone 6), after that I ssh into the phone and when trying to execute the executable it spits out this error

`dyld: Symbol not found: _objc_opt_new
  Referenced from: /private/var/tmp/./keychain_dumper (which was built for iOS 14.4)
  Expected in: dyld shared cache
 in /private/var/tmp/./keychain_dumper
Abort trap: 6
-bash-3.2# ./keychain_dumper -h
dyld:

[2021-03-19 16:26] ptoomey3 commented on #66
To be fair, I'm not sure what is going on there. I've been out of this space for quite a few years and have been trying to re-build the project with successive iOS relases, but without any actual jailbroken device to test with on my end. It might be worth trying to build from scratch on your end for the target device iOS version you are wanting it to run on.

[2021-03-22 08:45] auspicious99 commented on #66
I got a similar error on iPhoneXS Max jailbroken with uncover.

`dyld: Symbol not found: _objc_opt_new
  Referenced from: /sbin/./keychain_dumper (which was built for iOS 14.1)
  Expected in: /usr/lib/libobjc.A.dylib
 in /sbin/./keychain_dumper
Abort trap: 6`

[2021-03-29 15:42] alyxferrari commented on #66
@FikoKaramac @auspicious99 Install the Xcode version corresponding to your iOS version, run `xcode-select` on it, and compile the project from source.

[2021-04-03 12:50] mailinglists35 commented on #63
same on iphone 8 ios 13.5

[2021-04-03 13:03] mailinglists35 commented on #53
works okay on phone se ios 12.4, but throws errors on iphone 8 ios 13.5.1

[code]

[2021-04-14 18:46] kaleemshaik7867 commented on #63
Same error for me too

[2021-04-21 03:38] akohlsmith commented on #52
What do you mean by "use this line from ent.xml" - you don't say what to use. :-)

[2021-04-23 13:18] vocaeq commented on #52
Oh, probably mistake of mine. What i meant was: "remove this line from ent.xml".  Any asterisk in group name will break entitlements and you won't be able to dump keys. Not sure why it happens though. Groups with asterisk are created if you install app via xcode or sideload in other way. Those are developer groups IRC.

[2021-05-05 14:46] SupaYoshi opened #68 "iOS 14.2 - IOS 14.5"
I’ve been successfully dumping some keychain data in iOS 13 but in iOS 14 I’ve been unable to dump the data unfortunately with option -g it did not get me any data. Any advice on how I can make keychain dumper work on IOS 14?

kind regards

[2021-05-07 11:22] SupaYoshi commented on #66
@alyxferrari  are you saying that doing it that method, it will work again? Please advice

[2021-05-10 15:27] alyxferrari commented on #66
@SupaYoshi Yes, I've had this happen before. Download whichever Xcode version is for your iOS version from [here](https://developer.apple.com/download/more/?=xcode), if you're on iOS 14.5, then just download the latest version of Xcode instead. Download the command-line tools for whichever version you download, too.`xcode-select` only needs to be run if you have more than one version of Xcode on y

[2021-05-31 12:52] bakurise commented on #63
Same error too. IOS 14.0

iPhone:~ root# ./keydumper -g
[INFO] No Generic Password Keychain items found.
[HINT] You should unlock your device!

[2021-06-01 03:18] bakurise commented on #63
updateEntitlements.sh, it worked.

[2021-08-06 17:15] utkanos commented on #68
For folks getting no output using this tool, make sure you've updated the entitlements using the provided script on the device. If you are still getting just the hint about unlocking your device and finding no items, the problem is that your entitlements list is too long. I am still investigating why that's the case, but my current guess is that you are restricted in how many queries you can run a

[2021-09-21 21:33] RocketNinja15 opened #69 "I"

[2022-02-16 02:23] moustache-de-proust commented on #63
@bakurise @martin-1337 Did anyone get this working? im having the same issue with tvOS 14

[2022-02-16 15:39] ptoomey3 commented on #63
I have to admit I've fully fallen wayyyy outside the jailbreak scene over the years. If someone wants to open a PR that fixes it, great! But, I have no devices on-hand to debug/test, so won't be pursuing a fix myself.

[2022-02-17 13:39] raulsiles commented on #68
I can confirm keychain_dumper is impacted by rate limiting capabilities on the Secure Enclave Processor (SEP) when accessing the KeyChain, as described above by @utkanos in comment "https://github.com/ptoomey3/Keychain-Dumper/issues/68#issuecomment-894400287".

In a jailbroken iOS 14.x device keychain_dumper works if you clean-up the "ent.xml" file for your target app (reducing the number of entri

[2022-02-17 13:41] raulsiles commented on #35
See issue #68.

[2022-02-17 13:42] raulsiles commented on #63
See issue #68.

[2022-02-17 13:43] raulsiles commented on #66
Release v1.1.0 works in iOS 14.x. Also see issue #68.

[2022-02-17 17:11] ptoomey3 commented on #66
@raulsiles - would you say we can close this out if 1.1.0 works?

[2022-02-17 17:12] ptoomey3 commented on #68
@raulsiles - The instructions you listed above..should they either land in the top-level readme and/or get added to some updated script in the repo?

[2022-02-17 17:22] alyxferrari commented on #66
I think so. I've also gotten it to work on iOS 14 by reducing the entitlements to under 36.

[2022-02-17 18:35] raulsiles commented on #68
I suggest generating a warning related to the number of entries in the "ent.xml" file inside the "updateEntitlements.sh", once the file is created in "/usr/bin" and before applying it to the binary via "ldid". Also, a warning could be added to the README for users to be aware of that limitation in case they do not get any results.

Unfortunately, manual modification of "ent.xml" is required by now

[2022-05-11 19:24] novitae commented on #4
moving the file to `/bin` worked for me. I was in `/tmp`, where it seems the authorizations to run executables are not the same than in `/bin`.

[2022-07-29 19:38] apolo2009 opened #70 "Key"
Dumper

[2022-08-01 07:44] alijnclarke opened #71 "Build issue _objc_release_x19"
Is there a specific version of the iPhone SDK this needs to be built with?

`dyld: symbol '_objc_release_x19' not found, expected in '/usr/lib/libobjc.A.dylib', needed by '/private/var/tmp/./keychain_dumper'`

Getting that error when attempting to to run after building using the latest xcode beta (with ios 16 sdk only). Will attempt using the 14.0.1 sdk, but thought it was worth an ask.

[2022-08-01 15:41] ptoomey3 commented on #71
To be honest..I'm not sure. I'm not super plugged-in to the jailbreak or iOS development community anymore. Happy to keep this issue open though in case anyone else has some suggestions and/or wants to propose a fix.

[2022-09-16 14:53] Lessica commented on #52
See `static bool sanityCheckClientAccessGroups(SecurityClient* client)` at https://opensource.apple.com/source/Security/Security-59754.140.13/OSX/sec/ipc/server_security_helpers.m.auto.html

`securityd` will not accept `keychain-access-groups` to contain single `"*"` character since iOS 13.5.

But there's still one way to make `"*"` effective again: hook `bool SecTaskIsEligiblePlatformBinary(SecTa

[2022-10-09 14:08] harabat commented on #52
Hey @vocaeq, letting you know that the script you suggested and the one currently in the repo (iPhone 8.4, iOS 14.4), including after removing lines with `*` from `ent.xml`, don't find all items.

For some reason, the keys for the apps installed on the phone are not found (though, somehow, the keys for apps I have uninstalled years ago are still there, which I will be investigating further, but fe

[2022-10-11 13:27] ptoomey3 commented on #52
If someone wants to open a pull request to provide a script that is most compatible/useful, I'd be happy to include it in the project directly.

[2022-10-12 20:49] harabat commented on #52
I'll make a PR this weekend @ptoomey3, if no one more capable than me volunteers in the meantime.